<div class="ui card">
  <div class="image">
    <img src="/public/img/<%= post.author.avatar %>">
  </div>
  <div class="content">
    <a class="header"><%= post.author.name %></a>
    <div class="meta">
      <span class="date"><%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %></span>
    </div>
    <div class="description"><%= post.author.bio %></div>
  </div>
  <div class="extra content">
    <span><i class="book icon"></i>浏览 (<%= post.pv %>)</span>
  </div>
</div>