<%- include('header') %>

<div class="post-main">

	<div class="post-l">
		<%- include('components/post-content') %>
		<%- include('components/comments') %>
	</div>

	<div class="post-r">
		<%- include('components/person-info') %>
	</div>

</div>


<%- include('footer') %>
