<%- include('header') %>

<section class='track-page'>
    <% tracks.forEach(function (track) { %>
    <h2><%= track.year %></h2>
    <% track.list.forEach(function (eachMonth) { %>
    <div class='each-month'>
        <div class='timeline'>
            <h3 class='month-heading'>
                <%= eachMonth.month %>
            </h3>
            <div class='each-month-posts'>
                <ul>
                    <% eachMonth.list.forEach(function (post) { %>
                    <li>
                        <span><%= post.created_at.substr(5,5) %>&nbsp;</span>
                        <a  href="/posts/<%= post._id %>"><%= post.title %>&nbsp;</a>
                        <span>浏览(<%= post.pv %>)</span>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
    <% }) %>
    <% }) %>
    <div class='end-tag'>没有更多了</div>
</section>

<%- include('footer') %>